:root {
  --blue: #a2d2ff;
  --light_pink: #ffafcc;
  --light_purple: #cdb4db;
  --dark_pink: #8f2d56;
  --dark_purple: #5f0f40;
  --black: #000;
}

div {
  height: 50px;
  width: 50px;
  background-color: var(--black);
  position: absolute;
  top: calc(10% - 50px);
  left: calc(50% - 100px);
  box-shadow: 50px 0px var(--black), 100px 0px var(--black),
    150px 0px var(--black), -100px 50px var(--black), -50px 50px var(--black),
    0px 50px var(--light_purple), 50px 50px var(--light_pink),
    100px 50px var(--light_pink), 150px 50px var(--light_purple),
    200px 50px var(--black), 250px 50px var(--black), -150px 100px var(--black),
    -100px 100px var(--light_purple), -50px 100px var(--light_pink),
    0px 100px var(--blue), 50px 100px var(--blue), 100px 100px var(--blue),
    150px 100px var(--blue), 200px 100px var(--light_pink),
    250px 100px var(--light_purple), 300px 100px var(--black),
    -200px 150px var(--black), -150px 150px var(--light_purple),
    -100px 150px var(--light_pink), -50px 150px var(--blue),
    0px 150px var(--blue), 50px 150px var(--blue), 100px 150px var(--blue),
    150px 150px var(--blue), 200px 150px var(--blue),
    250px 150px var(--light_pink), 300px 150px var(--light_purple),
    350px 150px var(--black), -400px 200px var(--black),
    -350px 200px var(--black), -300px 200px var(--black),
    -200px 200px var(--black), -150px 200px var(--light_purple),
    -100px 200px var(--blue), -50px 200px var(--blue), 0px 200px var(--blue),
    50px 200px var(--blue), 100px 200px var(--blue), 150px 200px var(--blue),
    200px 200px var(--blue), 250px 200px var(--blue),
    300px 200px var(--light_purple), 350px 200px var(--black),
    450px 200px var(--black), 500px 200px var(--black), 550px 200px var(--black),
    -450px 250px var(--black), -400px 250px var(--light_purple),
    -350px 250px var(--light_pink), -300px 250px var(--light_purple),
    -250px 250px var(--black), -200px 250px var(--black),
    -150px 250px var(--light_pink), -100px 250px var(--blue),
    -50px 250px var(--blue), 0px 250px var(--blue), 50px 250px var(--blue),
    100px 250px var(--blue), 150px 250px var(--blue), 200px 250px var(--blue),
    250px 250px var(--blue), 300px 250px var(--light_pink),
    350px 250px var(--black), 400px 250px var(--black),
    450px 250px var(--light_purple), 500px 250px var(--light_pink),
    550px 250px var(--light_purple), 600px 250px var(--black),
    -500px 300px var(--black), -450px 300px var(--light_purple),
    -400px 300px var(--light_pink), -350px 300px var(--light_pink),
    -300px 300px var(--light_pink), -250px 300px var(--light_purple),
    -200px 300px var(--black), -150px 300px var(--blue),
    -100px 300px var(--blue), -50px 300px var(--blue), 0px 300px var(--blue),
    50px 300px var(--blue), 100px 300px var(--blue), 150px 300px var(--blue),
    200px 300px var(--blue), 250px 300px var(--blue), 300px 300px var(--blue),
    350px 300px var(--black), 400px 300px var(--light_purple),
    450px 300px var(--light_pink), 500px 300px var(--light_pink),
    550px 300px var(--light_pink), 600px 300px var(--light_purple),
    650px 300px var(--black), -500px 350px var(--black),
    -450px 350px var(--light_purple), -400px 350px var(--blue),
    -350px 350px var(--blue), -300px 350px var(--light_pink),
    -250px 350px var(--light_purple), -200px 350px var(--black),
    -150px 350px var(--light_pink), -100px 350px var(--blue),
    -50px 350px var(--blue), 0px 350px var(--blue), 50px 350px var(--blue),
    100px 350px var(--blue), 150px 350px var(--blue), 200px 350px var(--blue),
    250px 350px var(--blue), 300px 350px var(--light_pink),
    350px 350px var(--black), 400px 350px var(--light_purple),
    450px 350px var(--light_pink), 500px 350px var(--blue),
    550px 350px var(--blue), 600px 350px var(--light_purple),
    650px 350px var(--black), -500px 400px var(--black),
    -450px 400px var(--light_pink), -400px 400px var(--blue),
    -350px 400px var(--blue), -300px 400px var(--blue),
    -250px 400px var(--light_pink), -200px 400px var(--black),
    -150px 400px var(--light_pink), -100px 400px var(--blue),
    -50px 400px var(--blue), 0px 400px var(--blue), 50px 400px var(--blue),
    100px 400px var(--blue), 150px 400px var(--blue), 200px 400px var(--blue),
    250px 400px var(--blue), 300px 400px var(--light_pink),
    350px 400px var(--black), 400px 400px var(--light_pink),
    450px 400px var(--blue), 500px 400px var(--blue), 550px 400px var(--blue),
    600px 400px var(--light_pink), 650px 400px var(--black),
    -600px 450px var(--black), -550px 450px var(--black),
    -500px 450px var(--black), -450px 450px var(--light_pink),
    -400px 450px var(--blue), -350px 450px var(--blue), -300px 450px var(--blue),
    -250px 450px var(--light_pink), -200px 450px var(--black),
    -150px 450px var(--light_purple), -100px 450px var(--blue),
    -50px 450px var(--blue), 0px 450px var(--blue), 50px 450px var(--blue),
    100px 450px var(--blue), 150px 450px var(--blue), 200px 450px var(--blue),
    250px 450px var(--blue), 300px 450px var(--light_purple),
    350px 450px var(--black), 400px 450px var(--light_pink),
    450px 450px var(--blue), 500px 450px var(--blue), 550px 450px var(--blue),
    600px 450px var(--light_pink), 650px 450px var(--black),
    700px 450px var(--black), 750px 450px var(--black),
    -650px 500px var(--black), -600px 500px var(--light_purple),
    -550px 500px var(--light_purple), -500px 500px var(--black),
    -450px 500px var(--light_purple), -400px 500px var(--blue),
    -350px 500px var(--blue), -300px 500px var(--blue), -250px 500px var(--blue),
    -200px 500px var(--black), -150px 500px var(--light_purple),
    -100px 500px var(--blue), -50px 500px var(--blue), 0px 500px var(--blue),
    50px 500px var(--blue), 100px 500px var(--blue), 150px 500px var(--blue),
    200px 500px var(--blue), 250px 500px var(--blue),
    300px 500px var(--light_purple), 350px 500px var(--black),
    400px 500px var(--blue), 450px 500px var(--blue), 500px 500px var(--blue),
    550px 500px var(--blue), 600px 500px var(--light_purple),
    650px 500px var(--black), 700px 500px var(--light_purple),
    750px 500px var(--light_purple), 800px 500px var(--black),
    -700px 550px var(--black), -650px 550px var(--light_purple),
    -600px 550px var(--light_pink), -550px 550px var(--blue),
    -500px 550px var(--light_purple), -450px 550px var(--black),
    -400px 550px var(--light_pink), -350px 550px var(--blue),
    -300px 550px var(--blue), -250px 550px var(--blue),
    -200px 550px var(--light_purple), -150px 550px var(--black),
    -100px 550px var(--light_pink), -50px 550px var(--blue),
    0px 550px var(--blue), 50px 550px var(--blue), 100px 550px var(--blue),
    150px 550px var(--blue), 200px 550px var(--blue),
    250px 550px var(--light_pink), 300px 550px var(--black),
    350px 550px var(--light_purple), 400px 550px var(--blue),
    450px 550px var(--blue), 500px 550px var(--blue),
    550px 550px var(--light_pink), 600px 550px var(--black),
    650px 550px var(--light_purple), 700px 550px var(--blue),
    750px 550px var(--light_pink), 800px 550px var(--light_purple),
    850px 550px var(--black), -700px 600px var(--black),
    -650px 600px var(--light_pink), -600px 600px var(--blue),
    -550px 600px var(--blue), -500px 600px var(--light_pink),
    -450px 600px var(--black), -400px 600px var(--light_purple),
    -350px 600px var(--blue), -300px 600px var(--blue), -250px 600px var(--blue),
    -200px 600px var(--light_purple), -150px 600px var(--black),
    -100px 600px var(--light_pink), -50px 600px var(--blue),
    0px 600px var(--blue), 50px 600px var(--blue), 100px 600px var(--blue),
    150px 600px var(--blue), 200px 600px var(--blue),
    250px 600px var(--light_pink), 300px 600px var(--black),
    350px 600px var(--light_purple), 400px 600px var(--blue),
    450px 600px var(--blue), 500px 600px var(--blue),
    550px 600px var(--light_purple), 600px 600px var(--black),
    650px 600px var(--light_pink), 700px 600px var(--blue),
    750px 600px var(--blue), 800px 600px var(--light_pink),
    850px 600px var(--black), -700px 650px var(--black),
    -650px 650px var(--light_pink), -600px 650px var(--blue),
    -550px 650px var(--blue), -500px 650px var(--blue),
    -450px 650px var(--light_purple), -400px 650px var(--black),
    -350px 650px var(--light_pink), -300px 650px var(--blue),
    -250px 650px var(--blue), -200px 650px var(--light_pink),
    -150px 650px var(--black), -100px 650px var(--light_purple),
    -50px 650px var(--blue), 0px 650px var(--blue), 50px 650px var(--blue),
    100px 650px var(--blue), 150px 650px var(--blue), 200px 650px var(--blue),
    250px 650px var(--light_purple), 300px 650px var(--black),
    350px 650px var(--light_pink), 400px 650px var(--blue),
    450px 650px var(--blue), 500px 650px var(--light_pink),
    550px 650px var(--black), 600px 650px var(--light_purple),
    650px 650px var(--blue), 700px 650px var(--blue), 750px 650px var(--blue),
    800px 650px var(--light_pink), 850px 650px var(--black),
    -700px 700px var(--black), -650px 700px var(--light_purple),
    -600px 700px var(--blue), -550px 700px var(--blue), -500px 700px var(--blue),
    -450px 700px var(--light_pink), -400px 700px var(--black),
    -350px 700px var(--light_purple), -300px 700px var(--blue),
    -250px 700px var(--blue), -200px 700px var(--light_pink),
    -150px 700px var(--black), -100px 700px var(--light_purple),
    -50px 700px var(--light_pink), 0px 700px var(--blue), 50px 700px var(--blue),
    100px 700px var(--blue), 150px 700px var(--blue),
    200px 700px var(--light_pink), 250px 700px var(--light_purple),
    300px 700px var(--black), 350px 700px var(--light_pink),
    400px 700px var(--blue), 450px 700px var(--blue),
    500px 700px var(--light_purple), 550px 700px var(--black),
    600px 700px var(--light_pink), 650px 700px var(--blue),
    700px 700px var(--blue), 750px 700px var(--blue),
    800px 700px var(--light_purple), 850px 700px var(--black),
    -700px 750px var(--black), -650px 750px var(--light_purple),
    -600px 750px var(--blue), -550px 750px var(--blue), -500px 750px var(--blue),
    -450px 750px var(--blue), -400px 750px var(--light_purple),
    -350px 750px var(--black), -300px 750px var(--light_pink),
    -250px 750px var(--blue), -200px 750px var(--light_pink),
    -150px 750px var(--light_purple), -100px 750px var(--black),
    -50px 750px var(--light_pink), 0px 750px var(--blue), 50px 750px var(--blue),
    100px 750px var(--blue), 150px 750px var(--blue),
    200px 750px var(--light_pink), 250px 750px var(--black),
    300px 750px var(--light_purple), 350px 750px var(--light_pink),
    400px 750px var(--blue), 450px 750px var(--light_pink),
    500px 750px var(--black), 550px 750px var(--light_purple),
    600px 750px var(--blue), 650px 750px var(--blue), 700px 750px var(--blue),
    750px 750px var(--blue), 800px 750px var(--light_purple),
    850px 750px var(--black), -650px 800px var(--black),
    -600px 800px var(--light_pink), -550px 800px var(--blue),
    -500px 800px var(--blue), -450px 800px var(--blue),
    -400px 800px var(--light_pink), -350px 800px var(--black),
    -300px 800px var(--light_purple), -250px 800px var(--light_pink),
    -200px 800px var(--light_pink), -150px 800px var(--light_purple),
    -100px 800px var(--black), -50px 800px var(--light_purple),
    0px 800px var(--light_pink), 50px 800px var(--blue), 100px 800px var(--blue),
    150px 800px var(--light_pink), 200px 800px var(--light_purple),
    250px 800px var(--black), 300px 800px var(--light_purple),
    350px 800px var(--light_pink), 400px 800px var(--light_pink),
    450px 800px var(--light_purple), 500px 800px var(--black),
    550px 800px var(--light_pink), 600px 800px var(--blue),
    650px 800px var(--blue), 700px 800px var(--blue),
    750px 800px var(--light_pink), 800px 800px var(--black),
    -650px 850px var(--black), -600px 850px var(--light_purple),
    -550px 850px var(--blue), -500px 850px var(--blue), -450px 850px var(--blue),
    -400px 850px var(--blue), -350px 850px var(--light_pink),
    -300px 850px var(--black), -250px 850px var(--light_purple),
    -200px 850px var(--light_purple), -150px 850px var(--light_purple),
    -100px 850px var(--black), -50px 850px var(--dark_pink),
    0px 850px var(--light_pink), 50px 850px var(--light_pink),
    100px 850px var(--light_pink), 150px 850px var(--light_pink),
    200px 850px var(--dark_pink), 250px 850px var(--black),
    300px 850px var(--light_purple), 350px 850px var(--light_purple),
    400px 850px var(--light_purple), 450px 850px var(--black),
    500px 850px var(--light_pink), 550px 850px var(--blue),
    600px 850px var(--blue), 650px 850px var(--blue),
    700px 850px var(--light_purple), 750px 850px var(--black),
    -600px 900px var(--black), -550px 900px var(--light_purple),
    -500px 900px var(--light_pink), -450px 900px var(--blue),
    -400px 900px var(--blue), -350px 900px var(--light_pink),
    -300px 900px var(--light_purple), -250px 900px var(--black),
    -200px 900px var(--light_purple), -150px 900px var(--dark_pink),
    -100px 900px var(--black), -50px 900px var(--dark_pink),
    0px 900px var(--light_purple), 50px 900px var(--light_pink),
    100px 900px var(--light_pink), 150px 900px var(--light_purple),
    200px 900px var(--dark_pink), 250px 900px var(--black),
    300px 900px var(--dark_pink), 350px 900px var(--light_purple),
    400px 900px var(--black), 450px 900px var(--light_purple),
    500px 900px var(--light_pink), 550px 900px var(--blue),
    600px 900px var(--blue), 650px 900px var(--light_pink),
    700px 900px var(--light_purple), 750px 900px var(--black),
    -550px 950px var(--black), -500px 950px var(--black),
    -450px 950px var(--light_purple), -400px 950px var(--light_pink),
    -350px 950px var(--light_pink), -300px 950px var(--light_pink),
    -250px 950px var(--light_purple), -200px 950px var(--black),
    -150px 950px var(--dark_pink), -100px 950px var(--dark_pink),
    -50px 950px var(--black), 0px 950px var(--light_purple),
    50px 950px var(--light_purple), 100px 950px var(--light_purple),
    150px 950px var(--light_purple), 200px 950px var(--black),
    250px 950px var(--dark_pink), 300px 950px var(--dark_pink),
    350px 950px var(--black), 400px 950px var(--light_purple),
    450px 950px var(--light_pink), 500px 950px var(--light_pink),
    550px 950px var(--light_pink), 600px 950px var(--light_purple),
    650px 950px var(--black), 700px 950px var(--black),
    -450px 1000px var(--black), -400px 1000px var(--black),
    -350px 1000px var(--light_purple), -300px 1000px var(--dark_pink),
    -250px 1000px var(--dark_pink), -200px 1000px var(--dark_pink),
    -150px 1000px var(--black), -100px 1000px var(--dark_pink),
    -50px 1000px var(--black), 0px 1000px var(--dark_pink),
    50px 1000px var(--light_purple), 100px 1000px var(--light_purple),
    150px 1000px var(--dark_pink), 200px 1000px var(--black),
    250px 1000px var(--dark_pink), 300px 1000px var(--black),
    350px 1000px var(--dark_pink), 400px 1000px var(--dark_pink),
    450px 1000px var(--dark_pink), 500px 1000px var(--light_purple),
    550px 1000px var(--black), 600px 1000px var(--black),
    -350px 1050px var(--black), -300px 1050px var(--black),
    -250px 1050px var(--black), -200px 1050px var(--black),
    -150px 1050px var(--black), -100px 1050px var(--black),
    -50px 1050px var(--black), 0px 1050px var(--dark_pink),
    50px 1050px var(--dark_pink), 100px 1050px var(--dark_pink),
    150px 1050px var(--dark_pink), 200px 1050px var(--black),
    250px 1050px var(--black), 300px 1050px var(--black),
    350px 1050px var(--black), 400px 1050px var(--black),
    450px 1050px var(--black), 500px 1050px var(--black),
    -250px 1100px var(--black), -200px 1100px var(--black),
    -150px 1100px var(--dark_purple), -100px 1100px var(--dark_purple),
    -50px 1100px var(--dark_purple), 0px 1100px var(--black),
    50px 1100px var(--dark_pink), 100px 1100px var(--dark_pink),
    150px 1100px var(--black), 200px 1100px var(--dark_purple),
    250px 1100px var(--dark_purple), 300px 1100px var(--dark_purple),
    350px 1100px var(--black), 400px 1100px var(--black),
    -250px 1150px var(--black), -200px 1150px var(--dark_pink),
    -150px 1150px var(--light_pink), -100px 1150px var(--light_pink),
    -50px 1150px var(--dark_pink), 0px 1150px var(--black),
    50px 1150px var(--dark_pink), 100px 1150px var(--dark_pink),
    150px 1150px var(--black), 200px 1150px var(--dark_pink),
    250px 1150px var(--light_pink), 300px 1150px var(--light_pink),
    350px 1150px var(--dark_pink), 400px 1150px var(--black),
    -200px 1200px var(--black), -150px 1200px var(--black),
    -100px 1200px var(--black), -50px 1200px var(--black),
    0px 1200px var(--black), 50px 1200px var(--black), 100px 1200px var(--black),
    150px 1200px var(--black), 200px 1200px var(--black),
    250px 1200px var(--black), 300px 1200px var(--black),
    350px 1200px var(--black);
}
